


.cen { text-align: center; }
.izda { text-align: left; }
.dcha { text-align: right; }
.jus { text-align: justify; }

.top { vertical-align: top; }
.mid { vertical-align: middle; }
.bot { vertical-align: bottom; }

h1{
    font: arial ;
}
h4{
    margin-left: 27%;
    margin-top: 10%;
    margin-bottom: 10% ;
}
h3{
    margin-left: 8%;
    margin-bottom: 10%;
}

.text{
    font-size: 130%;
}

.encabezado{
    width: 100%;
}

.img1{
    width: 100%;
    z-index: 1;
}
.lab{
    color: #006666;
    position:absolute;
    font-size: 300%;
    margin-top: 25%;
    margin-left: 27%;
    z-index: 2;
}

.img2{
    width: 40%;
    align-content: space-around;
    margin-left: 30%;
    border: cadetblue solid ;
}

.img1:hover{
    opacity: 0.5;
    z-index: 1;
}
.galery{
    margin-left: 18%;
    height: 80%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: cadetblue;
  color: white;
  text-align: center;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: cadetblue;
   color: white;
}
.columna1{
    width: 40%;
    padding-left: 80%;
}
.detalle{
    margin-left: 20%;
    font-size: 120%;
}
.foot{
    text-align: center;
    font-weight: bold;
}
.contactoContainer{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2%;
}
.primeraColumna{
    width: 25%;
}
.contactoText{
    height: 30px;
    resize: none;
    width: 300px;
}
.nombreText{
    height: 30px;
    resize: none;
    width: 100%;
}
.situacionform{
    margin-left: 5%;
}
.edad{
    height: 30px;
    resize: none;
    width: 85px;
}
.nacimiento{
    width: 105px;
}
.panel-body{
    text-align: center;
    font-size: 130%;
}
.panel-heading{
    text-align: center;
}

.contenedorimg{
    position:relative;
    width: 34%;
    float: left;
    padding: 1%;
    margin-right: 2%;
    margin-top:2%;
    border: cadetblue solid;
}

@media(max-width: 1200px){
h1{
    margin-left: 5%;
    font-size: 150%;   
    }
    
.text{
    font-size: 100%;  
    }
    
.contenedorimg{
    width: 70%;
    float: left;
    padding: 1%;
    margin-right: 2%;
    margin-top:2%;
    border: cadetblue solid;
}
.img1{
    width: 100%;
    z-index: 1;
}
}

.off{
    display: none;
    
}
.on{
    display:block;
}